body {
    background: linear-gradient(270deg, #4c4d4c 0%, #dbdada 100%);
    position: relative;
}


/* nav - bar */
.h-wrapper {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    background: linear-gradient(270deg, #4c4d4c 0%, #dbdada 100%);
    left: 0;
}

.logo1 {
    position: relative;
    left: 150px;
    border-radius: 5px;
    display: flex;
    height: 40px;
    width: 8%;
}

.h-container {
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: black;
    font-size: 20px;
}

.h-menu {
    gap: 3rem;
    position: fixed;
    top: 30px;
    display: flex;
    float: right;
    right: 285px;
}

.button {
    position: fixed;
    display: flex;
    font-weight: 500;
    padding: 0.7rem 1.7rem;
    color: white;
    background: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
    border: none;
    border-radius: 4px;
    transition: all 300ms ease-in;
    float: right;
    right: 150px;
    top: 20px;
    cursor: pointer;

}

.h-menu>*:hover {
    cursor: pointer;
}

.menu-icon {
    display: none;
}


@media (max-width:768px) {
    .menu-icon {
        display: block;
    }

    .h-menu {
        z-index: 99;
        color: var(--black);
        position: absolute;
        top: 3rem;
        right: 4rem;
        background: white;
        flex-direction: column;
        font-weight: 500;
        gap: 2rem;
        padding: 3rem;
        border-radius: 10px;
        align-items: flex-start;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        transition: all 200ms ease-in;
    }
}

/* hero section */
.hero-wrapper {
    color: rgb(0, 0, 0);
    position: relative;
    top: 60px;
    padding-bottom: 6.5rem;

    width: 1259.7px;
}

.hero-des {
    z-index: 1;
}


.hero-container {
    justify-content: space-around;
    align-items: flex-end;
}

/*left side*/
.hero-left {
    gap: 3rem;
}

.hero-title {
    position: relative;
    z-index: 0;
}

.hero-title>h1 {
    font-weight: 400;
    font-size: 3.8rem;
    line-height: 4rem;
}

.numbers {
    color: rgb(29, 29, 97);
}

.orange-circle {
    height: 28rem;
    width: 28rem;
    background: linear-gradient(270deg, #4c4d4c 0%, #dbdada 100%);
    border-radius: 1000px;
    position: absolute;
    right: -315px;
    top: 0%;
    z-index: 1;

}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    margin-left: 170px;
    margin-top: 30px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}



.stats {
    width: 100%;
    justify-content: space-between;
    z-index: 0;
    gap: 2rem;
    margin-left: -45px;
}

.stat>:nth-child(1) {
    font-size: 2rem;
    display: table-row;
}


.image-container {
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 2rem 2rem 2rem 2rem;
    border: 8px solid rgba(0, 0, 0, 0.12);
}


.image-container>img {
    width: 100%;
    height: 100%;
}

@media (max-width:648px) {
    .hero-container {
        margin-top: 2rem;
    }

    .hero-title>h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .image-container {
        width: 95%;
        height: 25rem;
    }

    .stats {
        justify-content: center;
        gap: 1.5rem;
    }

    .hero-right {
        width: 100%;
    }

    .stat>:nth-child(1) {
        font-size: 1.5rem;
    }

    .stat>:nth-child(2) {
        font-size: 0.8rem;
    }

}

@keyframes fadeInUp {
    from {
        transform: translateY(2rem);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInRight {
    from {
        transform: translateX(7rem);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero-left h1,
.hero-des,
.stats {
    animation: fadeInUp 3s ease forwards;
}

.image-container {
    animation: fadeInRight 3s ease forwards;
}

/* Replace the CountUp numbers with static numbers */




/* Companies */



.c-container {
    justify-content: space-around;
    gap: 1rem;
}

.comp{
    width: 300px;
    padding: 30px;
    
}


.flexCenter {
    display: flex;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    
}
