.hero-wrapper{
    color: beige;
    position: relative;
    top:60px;
    padding-bottom: 6.5rem;
    z-index: 1;
}
.hero-des{
    z-index: 1;
}


.hero-container{
    justify-content: space-around;
    align-items: flex-end;
}
/*left side*/
.hero-left{
    gap: 3rem;
}
.hero-title{
    position: relative;
    z-index: 1;
}

.hero-title>h1{
    font-weight: 400;
    font-size: 3.8rem;
    line-height: 4rem;
}
.numbers{
    color:beige;
}
.plus{
    color: silver;
}
.gray-circle{
    height: 30rem;
    width: 30rem;
    background:  linear-gradient(270deg,  #3f64ba
    0%,#e6e6e6 90%);
    border-radius: 999px;
    position: absolute;
    right: 20%;
    top: -10%;
    z-index: -1;
}




.stats{
    width: 100%;
    justify-content: space-between;
    z-index: 1;
}
.stat>:nth-child(1){
    font-size: 2rem;
}


.image-container{
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 8rem 8rem 8rem 8rem;
    border: 8px solid rgba(0, 0, 0, 0.12);
}


.image-container>img{
    width: 100%;
    height: 100%;
}

@media (max-width:648px) {
    .hero-container{
        margin-top: 2rem;
    }
    .hero-title>h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .image-container{
        width: 95%;
        height: 25rem;
    }
    .stats{
        justify-content: center;
        gap: 1.5rem;
    }
    .hero-right{
        width: 100%;
    }
    .stat>:nth-child(1){
        font-size: 1.5rem;
    }
    .stat>:nth-child(2){
        font-size: 0.8rem;
    }
    
}